<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated encuestas -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="SistemaEncuestas.presentation.SistemaEncuestasModelWizardID"
            name="%_UI_SistemaEncuestasModelWizard_label"
            class="SistemaEncuestas.presentation.SistemaEncuestasModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SistemaEncuestasModelFile.gif">
         <description>%_UI_SistemaEncuestasModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated encuestas -->
      <editor
            id="SistemaEncuestas.presentation.SistemaEncuestasEditorID"
            name="%_UI_SistemaEncuestasEditor_label"
            icon="icons/full/obj16/SistemaEncuestasModelFile.gif"
            extensions="sistemaencuestas"
            class="SistemaEncuestas.presentation.SistemaEncuestasEditor"
            contributorClass="SistemaEncuestas.presentation.SistemaEncuestasActionBarContributor">
      </editor>
   </extension>

</plugin>
